<footer class="ovak-footer">
  <div class="ovak-footer__inner">
    <div class="ovak-footer__brand">
      <img src="/base/images/icons/header-logo.svg" alt="Szegedi Önkormányzat logó" class="ovak-brand__logo ovak-brand__logo--small">
      <span>{{ content.municipality_name }}</span>
    </div>

    <div class="ovak-footer__links">
      <a href="https://data.primariatm.ro/" target="_blank" rel="noopener noreferrer">
        Timisoara dataportal
      </a>

      <a href="#">
        <img src="/base/images/icons/linkedin.svg" alt="LinkedIn" class="ovak-footer__icon">
      </a>
    </div>
  </div>
</footer>